@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-image: url(../images/image.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
}
h1 {
    text-align: center;
    font-size: xx-large;
    color: white;
}

#board{
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 35vw;
    justify-content: center;
}
.row{
    display: flex;
    flex:1;
}

.cell{
    flex:1;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
	cursor: pointer;
    border: 2px solid white;
    color: white;
}
.cell:hover{
    background-color: #588157;
}
#gameEnd {
    text-align: center;
    display: none;
    margin-top: -9%;
}
h2{
    text-align: center;
    color: white;
}
#reloadGame{
    border: 2px solid #ecf39e;
    border-radius: 10px;
    background-color: #ecf39e;
    height: 6vh;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
}
#reloadGameCpu{
    border: 2px solid #ecf39e;
    border-radius: 10px;
    background-color: #ecf39e;
    height: 6vh;
    width: 18vw;
    cursor: pointer;
    font-size: xx-large;
    font-weight: bold;
}
#reloadGame:hover{
    background-color: #588157;
}
#reloadGameCpu:hover{
    background-color: #588157;
}
